<label for="file">Upload an Excel file:</label>
<input type="file" id="file" (change)="onFileChange($event)" accept=".xlsx" />
<hr>

<div *ngIf="data.length > 0">


  <div *ngFor="let header of resultHeaders; let i = index">
    <label>{{ header }}:</label>
    <select [(ngModel)]="selectedColumns[i]" (change)="updateSelectedData()">
      <option [value]="">-- Select a column --</option>
      <option *ngFor="let column of headers" [value]="column">{{ column }}</option>
    </select>
  </div>

  <button (click)="addResultHeader()">Add New Column</button>


  <hr>

  <button (click)="download()">Download Excel File</button>

  <hr>
  <p>
    data source
  </p>

  <hr>

  <ngx-datatable class="material" [rows]="data | slice:0:10" [columns]="columns">
  </ngx-datatable>

  <hr>

  <p>
    data result
  </p>
  <ngx-datatable class="material" [rows]="selectedDataObj | slice:0:10" [columns]="selectedColumnsObj">
  </ngx-datatable>



</div>


<hr>
<pre>
  {{columns | json}}
</pre>
<hr>
<pre>
  {{headers | json}}
</pre>
<hr>
<pre>
  {{data | json}}
</pre>
<hr>
<pre>
  {{selectedDataObj | json}}
</pre>
