<div class="container">

  <div class="mb-3">
    <label for="file" class="form-label">Upload an Excel file:</label>
    <input type="file" id="file" class="form-control" (change)="onFileChange($event)" accept=".xlsx" />
  </div>

  <div *ngIf="data.length > 0">

    <div *ngFor="let header of resultHeaders; let i = index" class="form-group">
      <label class="col-form-label" [for]="'select-' + i">{{ header }}:</label>
      <select [(ngModel)]="selectedColumns[i][0]" (change)="updateSelectedData()" class="form-control" [id]="'select-' + i">
          <option [value]="">-- Select a column --</option>
          <option *ngFor="let column of headers" [value]="column">{{ column }}</option>
      </select>

      <!-- Checkbox for concatenation -->
      <input type="checkbox" [(ngModel)]="shouldConcatenate[i]" (change)="updateSelectedData()" [id]="'checkbox-' + i"  />
      <label [for]="'checkbox-' + i">Concatenate</label>

      <!-- New dropdown for potential second column, displayed based on checkbox -->
      <select *ngIf="shouldConcatenate[i]" [(ngModel)]="selectedColumns[i][1]" (change)="updateSelectedData()" class="form-control" [id]="'select2-' + i" >
          <option [value]="">-- Select another column --</option>
          <option *ngFor="let column of headers" [value]="column">{{ column }}</option>
      </select>
  </div>







    <button  class="btn btn-primary" (click)="addResultHeader()">Add New Column</button>

    <hr>
    <strong>
      Source File
    </strong>

    <hr>

    <ngx-datatable class="table" [rows]="data | slice:0:10" [columns]="columns">
    </ngx-datatable>

    <hr>

    <strong>
      Result File
    </strong>
    <ngx-datatable class="table" [rows]="selectedDataObj | slice:0:10" [columns]="selectedColumnsObj">
    </ngx-datatable>


    <hr>

    <button  class="btn btn-primary" (click)="download()">Download Excel File</button>

  </div>

  <!-- <hr>
  <pre>
  {{columns | json}}
</pre>
  <hr>
  <pre>
  {{headers | json}}
</pre>
  <hr>
  <pre>
  {{data | json}}
</pre>
  <hr>
  <pre>
  {{selectedDataObj | json}}
</pre> -->

</div>
